<div class="container">
  <div class="search">
      <input type="text">
      <button (click)="navigateToAdd()">Add Task</button>
  </div>
  <div class="status" >
    <div id="segment" *ngFor="let task of toDo">
      <div class="type">
        <h1>ToDO</h1>
      </div>
        <div class="title">
          {{task.title}}
        </div>
        <button>see all</button>
    </div>
    <div id="segment" *ngFor="let task of inProccess">
      <div class="type">
        <h1>In Progress</h1>
      </div>
      <div class="title">
        {{task.title}}
      </div>
      <button>see all</button>
    </div>
    <div id="segment" *ngFor="let task of completed">
      <div class="type">
        <h1>Completed</h1>
      </div>
      <div class="title">
        {{task.title}}
      </div>
      <button>see all</button>
    </div>
  </div>
  <!-- <div class="tasks">
    <ul *ngFor="let task of tasks">
      <div class="tasksEach">
        {{task.title}}
      </div>
    </ul>
  </div> -->
</div>