.container{
    position: absolute;
    top: 200px;
    left: 450px;
    width: 600px;
    height: 400px;
    background-color: #292929;
    align-items: center;
}
.container h3{
    color: white;
    font: caption;
    font-size: 45px;
    position: relative;
    left: 120px;
    margin-top: 30px;
    margin-bottom: -30px;
}
.container h4{
    font-size: 20px;
    color: white;
    position: relative;
    left: 300px;
    top: 20px;
}
.inputs{
    position: relative;
    top: 50px;
    left: 60px;
    display: flex;
    flex-direction: column;
}
.inputs input{
    width: 450px;
    height: 60px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 30px;
    border: none;
}
input:focus{
    outline: none;
}
.inputs button{
    margin-top: 10px;
    width: 200px;
    height: 45px;
    border-radius: 8px;
    background-color: #d6680d;
    border: none;
    box-shadow:0 0 5pt 0.5p white;
    font-size: 30px;
    font:caption;
}